<form [formGroup]="checkoutForm" (ngSubmit)="onSubmit()">
  <div class="input-group mb-3">
    <label for="name"></label>
    <span class="input-group-text" id="inputGroup-sizing-default">Name</span>
    <input
      type="text"
      id="name"
      class="form-control"
      aria-label="Sizing example input"
      aria-describedby="inputGroup-sizing-default"
      formControlName="name"
    />
  </div>
  <div class="input-group mb-3">
    <label for="address"></label>
    <span class="input-group-text" id="inputGroup-sizing-default">Address</span>
    <input
      id="address"
      type="text"
      class="form-control"
      aria-label="Sizing example input"
      aria-describedby="inputGroup-sizing-default"
      formControlName="address"
    />
  </div>

  <button class="button" type="submit" (click)="submit.emit()">Purchase</button>
</form>
